/* mobile & tablet */
@media (max-width: 1140px) { 

}
/* tablet */
@media (min-width: 577px) and (max-width: 1139px) { 
    .footer-res-tablet {
        text-align: center;
    }
    .header-nav {
        padding-bottom: 0;
    }
    .movie-item-con {
        min-width: 350px;
        min-height: 185px;
    }
}

/* mobile */
@media (max-width: 575px) {
    .header-container {
        height: 80px;
    }
    .header-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        right: 0;
        top: 45px;
        background-color: red;
        height: 160px;
        display: none;
    }
    .footer-res-mobile {
        display: flex;
        justify-content: center;
    }
    .container-logo{
        padding: 12px;
        text-align: center;
    }
    .footer-icon {
        padding-bottom: 10px;
    }
    .header-nav-icon-mobile {
        display: block;
        margin-right: 16px;
    }
    .header-nav-icon-mobile:active ~ .header-nav {
        display: flex;
    }
    
}